<main class="main">
    <div class="content">
        <div class="p-4 flex flex-wrap flex-row justify-between items-center">
            <h2 class="text-2xl font-bold text-center">Budget Builder Example</h2>
            <div class="flex flex-wrap flex-row items-center date-range">
                <span class="font-medium w-[120px]">Date range:</span>
                <p-datepicker [(ngModel)]="dateRange" selectionMode="range" view="month" dateFormat="mm/yy" />
            </div>
        </div>

        <div class="px-4 py-2">
            <app-budget-table [startDate]="startDate" [endDate]="endDate"></app-budget-table>
        </div>
    </div>
</main>