:host {
    width: 100%;
    height: 100%;
}

:host ::ng-deep .p-button.trash-button {
    width: 25px;
    height: 25px;
    color: #212529;
    border: inherit;
    background: inherit;
}

:host ::ng-deep .p-button.trash-button:hover {
    color: #fff;
    background: inherit;
}

td.active {
    background-color: rgb(255, 255, 215);
}
