<div class="table-scroll-wrapper">
    <table class="table-auto border-collapse" style="width: 100%;">
        <thead>
            <tr class="bg-gray-400">
                <th class="w-[32px] min-w-[32px]">
                    <p-button icon="pi pi-trash" (click)="deleteRows()" styleClass="trash-button" />
                </th>
                <th class="px-2 py-2 text-left min-w-[320px] text-[20px]">
                    <span class="">{{headlines()}}</span>
                </th>
                <th *ngFor="let month of months()" class="px-2 py-2 text-center min-w-[120px] text-[20px]">
                    {{ month }}
                </th>
            </tr>
        </thead>

        <ng-container *ngFor="let level1 of tree();let level1Index = index; trackBy: trackById">
            <tbody>
                <tr class="bg-gray-200">
                    <td colspan="1" class="px-2 py-1">
                        <p-checkbox [(ngModel)]="level1.checked" (ngModelChange)="onCheckBoxChange(level1, $event)"
                            [binary]="true" />
                    </td>
                    <td *ngIf="!level1.renamable" colspan="100%"
                        class="px-2 py-1 font-semibold text-[18px] cursor-pointer"
                        (dblclick)="level1.renamable = true;">
                        <p pTooltip="Double-tab to edit name" tooltipPosition="top" class="w-[310px]">
                            {{level1Index + 1}}. {{level1.name}}
                        </p>
                    </td>
                    <td *ngIf="level1.renamable" colspan="100%" class="px-2 py-1 text-[18px]">
                        <cell-input #renameCell [type]="'text'"
                            [class]="'rename-cell-input text-left text-[18px] w-[310px] border-none shadow-none outline-none'"
                            [row]="level1" [colIndex]="level1Index" [(value)]="level1.name"
                            (keydown.enter)="level1.renamable = false;" (onBlurFunc)="level1.renamable = false;" />
                    </td>
                </tr>

                <ng-container *ngIf="level1.children">
                    <ng-container *ngFor="let level2 of level1.children; let level2Index = index; trackBy: trackById">
                        <tr *ngIf="level2Index !== 0" class="bg-gray-100">
                            <td colspan="1" class="px-2 py-1">
                                <p-checkbox [(ngModel)]="level2.checked"
                                    (ngModelChange)="onCheckBoxChange(level2, $event)" [binary]="true" />
                            </td>
                            <td *ngIf="!level2.renamable" colspan="100%"
                                class="px-2 py-1 font-semibold text-[18px] cursor-pointer"
                                (dblclick)="level2.renamable = true;">
                                <p pTooltip="Double-tab to edit name" tooltipPosition="top" class="w-[310px]">
                                    {{level1Index + 1}}.{{level2Index}}. {{level2.name}}
                                </p>
                            </td>
                            <td *ngIf="level2.renamable" colspan="100%" class="px-2 py-1 text-[18px]">
                                <cell-input #renameCell [type]="'text'"
                                    [class]="'rename-cell-input text-left text-[18px] w-[310px] border-none shadow-none outline-none'"
                                    [row]="level2" [colIndex]="level1Index" [(value)]="level2.name"
                                    (keydown.enter)="level2.renamable = false; handleNextCell(level2, 0)"
                                    (onBlurFunc)="level2.renamable = false;" />
                            </td>
                        </tr>

                        <ng-container *ngFor="let level3 of level2.children; trackBy: trackById">
                            <tr class="bg-gray-000">
                                <td colspan="1" class="px-4 py-1">
                                    <p-checkbox [(ngModel)]="level3.checked"
                                        (ngModelChange)="onCheckBoxChange(level3, $event)" [binary]="true" />
                                </td>
                                <td *ngIf="!level3.renamable" colspan="1"
                                    class="px-4 py-1 font-medium text-[14px] cursor-pointer"
                                    (dblclick)="level3.renamable = true;">
                                    <p pTooltip="Double-tab to edit name" tooltipPosition="top" class="w-[300px]">
                                        {{level3.name}}
                                    </p>
                                </td>
                                <td *ngIf="level3.renamable" colspan="1" class="px-4 py-1 text-[14px]">
                                    <cell-input #renameCell [type]="'text'"
                                        [class]="'rename-cell-input text-left text-[14px] w-[200px] border-none shadow-none outline-none'"
                                        [(value)]="level3.name"
                                        (keydown.enter)="level3.renamable = false; handleNextCell(level3, 0)"
                                        (onBlurFunc)="level3.renamable = false;" />
                                </td>

                                <ng-container *ngIf="level3.values">
                                    <ng-container
                                        *ngFor="let month of months(); let monthIndex = index; trackBy: trackByIndex">
                                        <td class="px-2 py-1 text-[14px]">
                                            <cell-input #cell [type]="'number'" [row]="level3" [colIndex]="monthIndex"
                                                [class]="'cell-input text-center text-[14px] w-full border-none shadow-none outline-none'"
                                                [value]="level3.values[monthIndex]"
                                                (valueChange)="updateRowByValue(level3, $event, monthIndex)"
                                                (keydown)="handleKeyDown($event, level3, monthIndex)"
                                                (contextmenu)="$event.preventDefault(); applyToAll($event, level3, monthIndex)" />
                                        </td>
                                    </ng-container>
                                </ng-container>
                            </tr>
                        </ng-container>

                        <tr>
                            <td colspan="2" class="px-2 py-1 text-[14px] font-medium cursor-pointer"
                                (click)="addNewRowCategory(level2, 0)">
                                <p class="flex flex-row align-items-center">
                                    <i class="pi pi-plus-circle mr-1" style="align-self: center;"></i>Add a sub-category
                                </p>
                            </td>
                            <td *ngFor="let month of months()" class="px-2 py-1"></td>
                        </tr>

                        <tr>
                            <td colspan="2" class="px-2 py-1 text-[14px] font-medium">Sub Totals ({{level2.name}}) </td>
                            <td *ngFor="let month of months(); let monthIndex = index"
                                class="px-2 py-1 text-[14px] text-center font-medium">{{level2.totals[monthIndex]}}</td>
                        </tr>
                    </ng-container>

                    <tr>
                        <td colspan="2" class="px-2 py-1 text-[16px] font-medium">
                            <p class="flex flex-row align-items-center">
                                <i class="pi pi-plus-circle mr-1" style="align-self: center;"></i>Totals
                                ({{level1.name}})
                            </p>
                        </td>
                        <td *ngFor="let month of months(); let monthIndex = index; trackBy: trackByIndex"
                            class="px-2 py-1 text-[16px] font-medium text-center">{{level1.totals[monthIndex]}}</td>
                    </tr>

                    <tr>
                        <td colspan="2" class="px-2 py-1 text-[18px] font-medium cursor-pointer"
                            (click)="addNewRowCategory(level1, 1)">
                            <p class="flex flex-row align-items-center">
                                <i class="pi pi-plus-circle mr-1" style="align-self: center;"></i>Add new category
                            </p>
                        </td>
                        <td *ngFor="let month of months()" class="px-2 py-1"></td>
                    </tr>

                    <tr>
                        <td colspan="100%" class="px-2 py-1 h-[32px]"></td>
                    </tr>
                </ng-container>
            </tbody>
        </ng-container>

        <tfoot class="bg-gray-200">
            <tr class="bg-gray-200 font-medium">
                <td colspan="2" class="px-2 py-1 text-[16px]">Profit / Loss</td>
                <td *ngFor="let month of months(); let monthIndex = index; trackBy: trackByIndex"
                    class="px-2 py-1 text-center text-[16px]">
                    {{ getProfits()[monthIndex] }}
                </td>
            </tr>

            <tr class="bg-gray-200 font-medium">
                <td colspan="2" class="px-2 py-1 text-[16px]">Opening Balance</td>
                <td *ngFor="let month of months(); let monthIndex = index" class="px-2 py-1 text-center text-[16px]">
                    {{calculateOpeningBalance()[monthIndex]}}
                </td>
            </tr>

            <tr class="bg-gray-200 font-medium">
                <td colspan="2" class="px-2 py-1 text-[16px]">Closing Balance</td>
                <td *ngFor="let month of months(); let monthIndex = index" class="px-2 py-1 text-center text-[16px]">
                    {{calculateClosingBalance()[monthIndex]}}
                </td>
            </tr>

        </tfoot>
    </table>
</div>

<p-toast />
<p-confirmpopup />